@media  screen and (max-width: 768px) {
    .bottom__nav{
        background-color: rgb(0,0,0,0.5);
        width: 100%;
        position: fixed;
        bottom: 0;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        display: block;
        left:0;
    }
    .bottom__nav>*{
        //padding: 5px;
    }
    .bottom__nav>nav{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .bottom__nav>nav>ul{
        display: flex;
        color:#fff;
    }
    .bottom__nav>nav>ul>li{
        text-decoration: none;
        display: flex;
        justify-content: space-between;

    }
    .bottom__nav>nav>ul>li>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 0;
        margin-left: 10px;
        cursor: pointer;

    }

}